.navbar-brand {
  font-family: oswald, sans-serif; }

h3 {
  font-family: Bevan, cursive;
  color: white;
  font-size: 30px; }

body, html {
  height: 100%; }

.bg {
  /* The image used */
  background-image: url("img/boyos.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg2 {
  /* The image used */
  background-image: url("img/boyos.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

p {
  font-family: Bevan, cursive;
  color: white;
  font-size: 35px; }
