.navbar-brand {
  font-family: oswald, sans-serif; }

h3 {
  font-family: Abril Fatface, cursive;
  color: #796c6d;
  font-size: 20px;
  text-transform: capitalize; }

body, html {
  height: 100%; }

.bg {
  /* The image used */
  background-image: url("../img/dantes.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg2 {
  /* The image used */
  background-image: url("../img/bgpizzas.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 100vh; }

p {
  display: inline;
  font-family: Abril Fatface, cursive;
  color: white;
  font-size: 15px;
  text-align: right;
  text-transform: capitalize; }

.rightnav a:hover {
  background-color: #F44336;
  color: black; }

body, html {
  height: 100%; }

.bg3 {
  background-color: #d6c5c7; }

.bg4 {
  background-color: black;
  background-size: cover;
  height: 100vh; }

.thumbnail {
  background-color: #d6c5c7;
  border-color: #d6c5c7; }

li {
  list-style: none;
  color: white;
  font-family: Candal, sans-serif;
  font-size: 20px;
  text-align: center; }
