
$cool-red: #F44336;
$font: oswald, sans-serif;
$font2: Piedra, cursive;
$font3: Alfa Slab One, cursive;
$font4: Candal, sans-serif;
$font5: Bevan, cursive;;
$colorb: black;
$colorg: green;
$colorw: white;
$colort: transparent;
$descript: uppercase;
$textj: justify;
$textc: center;



.navbar-brand {
    

    font-family: $font;
}






h3{
    font-family: $font5;
    color: $colorw;
    font-size: 30px;
}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("img/boyos.jpg");
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg2 {
    /* The image used */
    background-image: url("img/boyos.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
      font-family: $font5;
      color: $colorw;
      font-size: 35px;
  }


























