
$cool-red: #F44336;
$font: oswald, sans-serif;
$font2: Abril Fatface, cursive;
$font3: Alfa Slab One, cursive;
$font4: Candal, sans-serif;
$colorgr:#d6c5c7;
$colorb: black;
$colorg: green;
$colorw: white;
$colorf: #796c6d;
$colort: transparent;
$descript: uppercase;
$textj: justify;
$textc: center;
$textcap: capitalize;



.navbar-brand {
    

    font-family: $font;
}






h3{
    font-family: $font2;
    color: $colorf;
    font-size: 20px;
    text-transform: $textcap;
    
}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("../img/dantes.png");
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .bg2 {
    /* The image used */
    background-image: url("../img/bgpizzas.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colort;
    

    height:100vh;
  }

p{    display: inline;
      font-family: $font2;
      color: $colorw;
      font-size: 15px;
      text-align: right;
      text-transform: $textcap;
      
  }

  .rightnav a:hover {
    background-color: $cool-red;
    color: $colorb;
  }

  body, html {
    height: 100%;
  }
  
  .bg3{
    background-color: $colorgr;
  }

  .bg4{
    background-color: $colorb;
    background-size: cover;
    height:100vh;

  }

  .thumbnail{
    background-color: $colorgr;
    border-color: transparentize($colorgr, $amount: 0);
  }

  li{
    list-style: none;
    color: $colorw;
    font-family: $font4;
    font-size: 20px;
    text-align: center;
  }