
$cool-red: #F44336;
$font: oswald, sans-serif;
$font2: Piedra, cursive;
$font3: Alfa Slab One, cursive;
$font4: Candal, sans-serif;
$font5: Bevan, cursive;;
$colorb: black;
$colorg: green;
$colorw: white;
$colort: transparent;
$descript: uppercase;
$textj: justify;
$textc: center;



.navbar-brand {
    

    font-family: $font;
}






h3{
    font-family: $font5;
    color: $colorw;
    font-size: 30px;
}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("https://media-private.canva.com/uRlco/MAECv3uRlco/1/tl.jpg?response-expires=Thu%2C%2023%20Jul%202020%2002%3A17%3A46%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200722T234120Z&X-Amz-SignedHeaders=host&X-Amz-Expires=9385&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20200722%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=1178030764affd15cabb90f7a39fcb9b75c0dbdd96f1e1856a8c0d24acc342e5");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg2 {
    /* The image used */
    background-image: url("https://media-private.canva.com/j9QGA/MAECvMj9QGA/1/tl.jpg?response-expires=Wed%2C%2022%20Jul%202020%2022%3A47%3A05%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200722T202924Z&X-Amz-SignedHeaders=host&X-Amz-Expires=8260&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20200722%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3a03009bf3d838049865c274afa43feb7e1d1fd1569bbd123bdd2fca014e3d46");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p{
      font-family: $font5;
      color: $colorw;
      font-size: 35px;
  }


























